# misc
.idea
.vscode

# build
build
.next

# tests
coverage

# package manager
pnpm-lock.yaml

# configs
.eslintrc.json
.lintstagedrc.yaml
.prettierignore
.prettierrc.toml

# docker
docker-compose.yaml
docker-compose.*.yaml
compose.yaml
compose.*.yaml
.dockerignore
Dockerfile