@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply overflow-x-clip text-[62.5%];
    --base-width: 390;
    --base-width_units: calc(var(--base-width) * 1px);
    --screen-delta: calc((100vw - var(--base-width_units)) / (var(--base-width) / 100) / 100);
  }
}

@media screen(md) {
  html {
    --base-width: 1680;
  }
}

body {
  @apply text-base-black text-base-200;
}
